<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>Controller.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRankController</servlet-name>
        <servlet-class>Controller.UpdateRankController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/UpdateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRankController</servlet-name>
        <url-pattern>/UpdateRank</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
           -1
        </session-timeout>
    </session-config>
</web-app>
